<powershell>
# Copyright (c) 2020 Teradici Corporation
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree.

Read-S3Object -BucketName ${bucket_name} -Key ${file_name} -File ${file_name}
powershell ${file_name}

</powershell>
<persist>true</persist>
