# © Copyright 2022 HP Development Company, L.P.
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree.

#!/bin/bash

##### Template Variables #####
AD_SERVICE_ACCOUNT_PASSWORD=${ad_service_account_password}
AD_SERVICE_ACCOUNT_USERNAME=${ad_service_account_username}
AWC_EXTRA_INSTALL_FLAGS=${awc_extra_install_flags}
BUCKET_NAME=${bucket_name}
CAS_MGR_DEPLOYMENT_SA_FILE=${cas_mgr_deployment_sa_file}
CAS_MGR_INSECURE=${cas_mgr_insecure}
CAS_MGR_SCRIPT=${cas_mgr_script}
CAS_MGR_URL=${cas_mgr_url}
COMPUTERS_DN=${computers_dn}
DOMAIN_CONTROLLER_IP=${domain_controller_ip}
DOMAIN_NAME=${domain_name}
EXTERNAL_PCOIP_IP=${external_pcoip_ip}
GCP_OPS_AGENT_ENABLE=${gcp_ops_agent_enable}
KMS_CRYPTOKEY_ID=${kms_cryptokey_id}
LDAPS_CERT_FILENAME=${ldaps_cert_filename}
OPS_SETUP_SCRIPT=${ops_setup_script}
TLS_CERT=${tls_cert}
TLS_KEY=${tls_key}
TERADICI_DOWNLOAD_TOKEN=${teradici_download_token}
USERS_DN=${users_dn}

AWC_BIN_PATH="/usr/local/bin/cas-connector"
AWC_REPO_SETUP_SCRIPT_URL="https://dl.teradici.com/$TERADICI_DOWNLOAD_TOKEN/cas-manager-beta/cfg/setup/bash.rpm.sh"
AWC_INSTALL_LOG="/var/log/teradici/awc-install.log"
AWC_TOKEN_FILE=$PROVISIONING_DIR/connector_token
LOG_FILE="/var/log/teradici/provisioning.log"
PROVISIONING_DIR="/root"

METADATA_BASE_URI="http://metadata.google.internal/computeMetadata/v1/instance"
METADATA_AUTH_URI="$METADATA_BASE_URI/service-accounts/default/token"

log() {
    local message="$1"
    echo "[$(date)] $message"
}

retry() {
    local retry="$1"         # number of retries
    local retry_delay="$2"   # delay between each retry, in seconds
    local shell_command="$3" # the shell command to run
    local err_message="$4"   # the message to show when the shell command was not successful

    local retry_num=0
    until eval $shell_command
    do
        local rc=$?
        local retry_remain=$((retry-retry_num))

        if [ $retry_remain -eq 0 ]
        then
            log $error_message
            return $rc
        fi

        log "$err_message Retrying in $retry_delay seconds... ($retry_remain retries remaining...)"

        retry_num=$((retry_num+1))
        sleep $retry_delay
    done
}

install_prereqs() {
    log "--> Installing dos2unix, python3, firewalld..."
    dnf update -y
    dnf install -y dos2unix python3 firewalld

    if [ $? -ne 0 ]
    then
        log "--> ERROR: Failed to install prerequisites. Exiting provisioning script..."
        exit 1
    fi

    # install requirement for get-connector-token
    pip3 install requests

    if [ $? -ne 0 ]
    then
        log "--> ERROR: Failed to install prerequisites. Exiting provisioning script..."
        exit 1
    fi
}

setup_ops() {
    if [[ -f "/etc/google-cloud-ops-agent/config.yaml" ]]
    then
        log "--> Ops Agent configuration file already exists, skipping custom Ops Agent configuration to avoid overwriting existing settings"
    else
        log "--> Setting up GCP OPs Agent..."

        retry 25 `# 25 retries` \
              5  `# 5s interval` \
              "gsutil cp gs://$BUCKET_NAME/$OPS_SETUP_SCRIPT ." \
              "--> ERROR: Failed to download Logging Agent from gs://$BUCKET_NAME/$OPS_SETUP_SCRIPT."

        if [ $? -ne 0 ]; then
            log "--> ERROR: Failed to install GCP OPs Agent."
        fi 

        chmod +x $OPS_SETUP_SCRIPT

        instance_name=$(retry 3 `#3 retries` \
                              5 `# 5s interval` \
                              "curl -H Metadata-Flavor:Google http://metadata/computeMetadata/v1/instance/hostname | cut -d. -f1" \
                              "--> ERROR: Failed to get the instance name.")

        local container_logs=""
        log_list=("adsync*" "broker*" "cm-*" "cmsg*" "connectorgateway*" "healthcheck*" "rwtelemetry*" "sg*")

        if [[ ! $instance_name == *"-0" ]]
        then
            unset log_list[0]
        fi

        for log_file in $${log_list[@]}
        do
            container_logs=$container_logs"/opt/teradici/casc/logs/k3s.connector.$log_file.log "
        done

        . $OPS_SETUP_SCRIPT \
            $LOG_FILE \
            "/var/log/cloud-init-output.log" \
            "/var/log/messages" \
            "$AWC_INSTALL_LOG" \
            $container_logs
    fi
}

get_credentials() {
    # In some cases, the CAS Manager Deployment Service Account key is
    # generated by a new CAS Manager VM that is being created in parallel as the
    # AWC. Loop until the file is found in the storage bucket.

    retry 120 `# 120 retries` \
          60  `# 60s interval` \
          "gsutil cp gs://$BUCKET_NAME/$CAS_MGR_DEPLOYMENT_SA_FILE $PROVISIONING_DIR" \
          "--> ERROR: Failed to download CAS Manager Deployment Service Account key from bucket $BUCKET_NAME."

    # Disable logging of secrets by wrapping the region with set +x and set -x
    set +x

    if [[ -z "$KMS_CRYPTOKEY_ID" ]]; then
        log "--> Script is not using encryption for secrets."

    else
        log "--> Script is using encryption key: $KMS_CRYPTOKEY_ID"

        # Gets key informations needed for decode from kms_cryptokey_id
        # kms_cryptokey_id: projects/<project-id>/locations/<location>/keyRings/<keyring-name>/cryptoKeys/<key-name>
        local kms_location="$(echo $KMS_CRYPTOKEY_ID | cut -d'/' -f4)"
        local kms_keyring="$(echo $KMS_CRYPTOKEY_ID | cut -d'/' -f6)"
        local kms_key="$(echo $KMS_CRYPTOKEY_ID | cut -d'/' -f8)"

        log "--> Decrypting AD service account password..."
        AD_SERVICE_ACCOUNT_PASSWORD=$(echo -n $AD_SERVICE_ACCOUNT_PASSWORD | base64 --decode | gcloud kms decrypt --key "$kms_key" --keyring "$kms_keyring" --location "$kms_location" --ciphertext-file - --plaintext-file -)

        log "--> Decrypting CAS Manager Deployment Service Account JSON file..."
        cat $PROVISIONING_DIR/$CAS_MGR_DEPLOYMENT_SA_FILE | gcloud kms decrypt --key "$kms_key" --keyring "$kms_keyring" --location "$kms_location" --ciphertext-file - --plaintext-file $PROVISIONING_DIR/$CAS_MGR_DEPLOYMENT_SA_FILE
    fi
    set -x
}

get_connector_token() {
    log "--> Retrieving connector token before AWC install..."

    local args=""

    log "--> Downloading CAS Manager python script from the bucket..."
    retry 3 `# 3 retries` \
          5 `# 5s interval` \
          "gsutil cp gs://$BUCKET_NAME/$CAS_MGR_SCRIPT $PROVISIONING_DIR" \
          "--> ERROR: Failed to download CAS Manager python script from gs://$BUCKET_NAME/$CAS_MGR_SCRIPT"
    chmod +x $PROVISIONING_DIR/$CAS_MGR_SCRIPT

    # Ensure line endings are in Unix format
    dos2unix $PROVISIONING_DIR/$CAS_MGR_SCRIPT
    dos2unix $PROVISIONING_DIR/$CAS_MGR_DEPLOYMENT_SA_FILE

    # Set AWC_TOKEN variable using the script's output
    if [ "$CAS_MGR_INSECURE" ]
    then
        args="--insecure"
    fi

    PYTHONWARNINGS="ignore:Unverified HTTPS request" $PROVISIONING_DIR/$CAS_MGR_SCRIPT $PROVISIONING_DIR/$CAS_MGR_DEPLOYMENT_SA_FILE --url $CAS_MGR_URL --out $AWC_TOKEN_FILE $args
    set +x
    AWC_TOKEN=`cat $AWC_TOKEN_FILE`
    set -x
    rm $AWC_TOKEN_FILE

    # Check and exit provisioning script if retrieving connector token failed
    if [ $? -ne 0 ]; then
        log "--> ERROR: Failed to retrieve connector token using CAS Manager script. Exiting provisioning script..."
        exit 1
    fi
}

check_required_vars() {
    set +x
    if [[ -z "$AD_SERVICE_ACCOUNT_PASSWORD" ]]; then
        log "--> ERROR: Missing Active Directory Service Account Password."
        missing_vars="true"
    fi

    if [[ -z "$AWC_TOKEN" ]]; then
        log "--> ERROR: Missing Anyware Connector Token."
        missing_vars="true"
    fi
    set -x

    if [[ "$missing_vars" == "true" ]]; then
        log "--> Exiting..."
        exit 1
    fi
}

configure_firewall(){
    systemctl enable firewalld
    systemctl start firewalld

    firewall-cmd --permanent --add-port=6443/tcp # virtual network flannel
    firewall-cmd --permanent --add-port=4172/tcp # PCoIP SG port
    firewall-cmd --permanent --add-port=4172/udp # PCoIP SG port
    firewall-cmd --permanent --zone=trusted --add-source=10.42.0.0/16 # This subnet is for the pods
    firewall-cmd --permanent --zone=trusted --add-source=10.43.0.0/16 # This subnet is for the services
    firewall-cmd --reload
}

check_connector_installed() {
    if [[ -f "$AWC_BIN_PATH" ]]; then
        log "--> Connector already installed. Skipping provisioning script..."
        exit 0
    fi
}

add_cas_mgr_repo() {
    log "--> Adding CAS Manager repo..."
    curl -1sLf $AWC_REPO_SETUP_SCRIPT_URL | distro=el codename=8 bash
    dnf repolist --enabled teradici-cas-manager*
}

config_selinux() {
    log "--> Configuring SE Linux..."
    dnf install -y selinux-policy-base container-selinux
    dnf install -y https://github.com/k3s-io/k3s-selinux/releases/download/v1.1.stable.1/k3s-selinux-1.1-1.el8.noarch.rpm
    dnf install -y cas-manager-selinux
}

install_awc() {
    log "--> Installing Anyware Connector..."
    dnf install -y cas-connector 2>&1 | tee -a $AWC_INSTALL_LOG

    if [ $? -ne 0 ]
    then
        log "--> ERROR: Failed to install Anyware Connector..."
        exit 1
    fi
}

wait_for_dc() {
    # Wait for service account to be added. Do this last because it takes
    # a while for new AD user to be added in a new Domain Controller.
    # Note: using the domain controller IP instead of the domain name for
    #       the host is more resilient.

    log "--> Installing utility packages..."
    retry 5 `# 5 retries` \
          5 `# 5s interval` \
          "dnf -y install bind-utils nc openldap-clients" \
          "--> ERROR: Failed to install utility packages."

    set +x
    log "--> Ensure AD account is available..."
    retry 120 `# 120 retries` \
          10  `# 10s interval` \
          "ldapwhoami \
            -H ldap://$DOMAIN_CONTROLLER_IP \
            -D $AD_SERVICE_ACCOUNT_USERNAME@$DOMAIN_NAME \
            -w $AD_SERVICE_ACCOUNT_PASSWORD \
            -o nettimeout=1" \
          "--> ERROR: AD account $AD_SERVICE_ACCOUNT_USERNAME@$DOMAIN_NAME is not available."
    set -x
    # Check that the domain name can be resolved and that the LDAP port is accepting
    # connections. This could have been all done with the ldapwhoami command, but
    # due to a number of occasional awc-installation issues, such as "domain
    # controller unreachable" or "DNS error occurred" errors, check these explicitly
    # for logging and debug purposes.
    log "--> Ensure domain $DOMAIN_NAME can be resolved..."
    retry 120 `# 120 retries` \
          10  `# 10s interval` \
          "host $DOMAIN_NAME" \
          "--> ERROR: Failed to resolve $DOMAIN_NAME."

    log "--> Ensure domain $DOMAIN_NAME port 636 is reacheable..."
    retry 120 `# 120 retries` \
          10  `# 10s interval` \
          "nc -vz $DOMAIN_NAME 636" \
          "--> ERROR: Failed to contact $DOMAIN_NAME:636."
}

download_ldaps_cert() {
    log "--> Downloading LDAPS Cert..."
    retry 120 `# 120 retries` \
          10  `# 10s interval` \
          "gsutil cp gs://$BUCKET_NAME/$LDAPS_CERT_FILENAME $PROVISIONING_DIR" \
          "--> ERROR: Falied to download Domain Controller LDAPS certificate from GCS bucket."
}

configure_awc() {
    log "--> Configuring Anyware Connector..."
    local args=""

    log "--> Running command: $AWC_BIN_PATH install"
    log "--> AWC install options:"
    log "  --token <awc_token>"
    log "  --computers-dn $COMPUTERS_DN"
    log "  --users-dn $USERS_DN"
    log "  --accept-policies"
    log "  --sa-user <ad_service_account_username>"
    log "  --sa-password <ad_service_account_password>"
    log "  --domain $DOMAIN_NAME"
    log "  --ldaps-ca-cert $PROVISIONING_DIR/$LDAPS_CERT_FILENAME"
    log "  --retrieve-agent-state true"
    log "  --show-agent-state true"
    log "  --sync-interval 5"
    log "  --casm-url $CAS_MGR_URL"
    log "  $AWC_EXTRA_INSTALL_FLAGS"

    # Set pipefail option to return status of the connector install command
    set -o pipefail

    if [ "$TLS_KEY" ]
    then
        log "  --tls-key <tls_key>"
        log "  --tls-cert <tls_cert>"
        retry 3 `# 3 retries` \
              5 `# 5s interval` \
              "gsutil cp gs://$BUCKET_NAME/$TLS_KEY $PROVISIONING_DIR" \
              "--> ERROR: Failed to download TLS key from $BUCKET_NAME"
        retry 3 `# 3 retries` \
              5 `# 5s interval` \
              "gsutil cp gs://$BUCKET_NAME/$TLS_CERT $PROVISIONING_DIR" \
              "--> ERROR: Failed to download TLS cert from $BUCKET_NAME"

        args=$args"--tls-key $PROVISIONING_DIR/$TLS_KEY "
        args=$args"--tls-cert $PROVISIONING_DIR/$TLS_CERT "
    else
        log "  --self-signed"
        args=$args"--self-signed "
    fi

    if [ "$CAS_MGR_INSECURE" ]
    then
        log "  --casm-insecure"
        args=$args"--casm-insecure "
    fi

    if [ "$EXTERNAL_PCOIP_IP" ]
    then
        log "  --external-pcoip-ip $EXTERNAL_PCOIP_IP"
        args=$args"--external-pcoip-ip $EXTERNAL_PCOIP_IP "
    fi

    set +x

    retry 10 `# 10 retries` \
          10 `# 10s interval` \
          "$AWC_BIN_PATH configure \
            --token $AWC_TOKEN \
            --accept-policies \
            --computers-dn $COMPUTERS_DN \
            --users-dn $USERS_DN \
            --sa-user $AD_SERVICE_ACCOUNT_USERNAME \
            --sa-password "$AD_SERVICE_ACCOUNT_PASSWORD" \
            --domain $DOMAIN_NAME \
            --ldaps-ca-cert $PROVISIONING_DIR/$LDAPS_CERT_FILENAME \
            --retrieve-agent-state true \
            --show-agent-state true \
            --sync-interval 5 \
            --casm-url $CAS_MGR_URL \
            $AWC_EXTRA_INSTALL_FLAGS \
            $args \
            2>&1 | tee -a $AWC_INSTALL_LOG" \
          "--> ERROR: Failed to install Anyware Connector."

    if [ $? -ne 0 ]
    then
        log "--> Exiting provisioning script due to an error."
        exit 1
    fi

    log "--> Successfully configured Anyware Connector."
    
    set -x
}

cleanup() {
    rm $PROVISIONING_DIR/$LDAPS_CERT_FILENAME
}

if [[ ! -f "$LOG_FILE" ]]
then
    mkdir -p "$(dirname $LOG_FILE)"
    touch "$LOG_FILE"
    chmod +644 "$LOG_FILE"
fi

# Print all executed commands to the terminal
set -x

# Redirect stdout and stderr to the log file
exec &>>$LOG_FILE

log "$(date) Running $0 as $(whoami)..."

cd $PROVISIONING_DIR

install_prereqs

if [[ "$GCP_OPS_AGENT_ENABLE" == "true" ]]
then
    setup_ops
fi

get_credentials

configure_firewall

check_connector_installed

add_cas_mgr_repo

config_selinux

install_awc

wait_for_dc

download_ldaps_cert

get_connector_token

check_required_vars

configure_awc

cleanup

log "--> Provisioning script completed successfully."
