# © Copyright 2022 HP Development Company, L.P.
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree.

#!/bin/bash

##### Template Variables #####
AD_SERVICE_ACCOUNT_PASSWORD=${ad_service_account_password}
AD_SERVICE_ACCOUNT_USERNAME=${ad_service_account_username}
AWS_REGION=${aws_region}
AWS_SSM_ENABLE=${aws_ssm_enable}
BUCKET_NAME=${bucket_name}
AWC_EXTRA_INSTALL_FLAGS=${awc_extra_install_flags}
AWM_DEPLOYMENT_SA_FILE=${awm_deployment_sa_file}
AWM_SCRIPT=${awm_script}
CLOUDWATCH_ENABLE=${cloudwatch_enable}
CLOUDWATCH_SETUP_SCRIPT=${cloudwatch_setup_script}
COMPUTERS_DN=${computers_dn}
CUSTOMER_MASTER_KEY_ID=${customer_master_key_id}
DOMAIN_CONTROLLER_IP=${domain_controller_ip}
DOMAIN_NAME=${domain_name}
LDAPS_CERT_FILENAME=${ldaps_cert_filename}
LLS_IP=${lls_ip}
MANAGER_INSECURE=${awc_flag_manager_insecure}
MANAGER_URL=${manager_url}
TLS_CERT=${tls_cert}
TLS_KEY=${tls_key}
TERADICI_DOWNLOAD_TOKEN=${teradici_download_token}
USERS_DN=${users_dn}

LOG_FILE="/var/log/teradici/provisioning.log"
PROVISIONING_DIR="/root"

AWC_BIN_PATH="/usr/local/bin/anyware-connector"
AWC_REPO_SETUP_SCRIPT_URL="https://dl.teradici.com/$TERADICI_DOWNLOAD_TOKEN/anyware-manager/cfg/setup/bash.rpm.sh"
AWC_INSTALL_LOG="/var/log/teradici/awc-install.log"
CONNECTOR_TOKEN_FILE=$PROVISIONING_DIR/connector_token

log() {
    local message="$1"
    echo "[$(date)] $message"
}

retry() {
    local retry="$1"         # number of retries
    local retry_delay="$2"   # delay between each retry, in seconds
    local shell_command="$3" # the shell command to run
    local err_message="$4"   # the message to show when the shell command was not successful

    local retry_num=0
    until eval $shell_command
    do
        local rc=$?
        local retry_remain=$((retry-retry_num))

        if [ $retry_remain -eq 0 ]
        then
            log $error_message
            return $rc
        fi

        log "$err_message Retrying in $retry_delay seconds... ($retry_remain retries remaining...)"

        retry_num=$((retry_num+1))
        sleep $retry_delay
    done
}

install_prereqs() {
    log "--> Installing dos2unix, python3, firewalld..."
    dnf update -y
    dnf install -y dos2unix python3 firewalld

    if [ $? -ne 0 ]
    then
        log "--> ERROR: Failed to install prerequisites. Exiting provisioning script..."
        exit 1
    fi
}

setup_cloudwatch(){
    if [[ ! -f "/var/log/amazon/amazon-cloudwatch-agent/amazon-cloudwatch-agent.log" ]]
    then
        log "--> Setting up AWS CloudWatch Logs..."

        retry 3 `# 3 retries` \
              5 `# 5s interval` \
              "aws s3 cp s3://$BUCKET_NAME/$CLOUDWATCH_SETUP_SCRIPT ." \
              "--> ERROR: Failed to download CloudWatch setup script from s3://$BUCKET_NAME/$CLOUDWATCH_SETUP_SCRIPT"
        chmod +x $CLOUDWATCH_SETUP_SCRIPT
        dos2unix $CLOUDWATCH_SETUP_SCRIPT

        instance_id=$(retry 3 `#3 retries` \
                            5 `# 5s interval` \
                            "curl http://169.254.169.254/latest/meta-data/instance-id" \
                            "--> ERROR: Failed to get the instance id.")

        instance_name=$(retry 3 `#3 retries` \
                              5 `# 5s interval` \
                              "aws ec2 describe-tags --region $AWS_REGION --filters 'Name=resource-id,Values=$instance_id' 'Name=key,Values=Name' --output text | cut -f5" \
                              "--> ERROR: Failed to get the instance name.")

        local container_logs=""
        log_list=("adsync*" "broker*" "cm-*" "cmsg*" "connectorgateway*" "healthcheck*" "rwtelemetry*" "sg*")

        if [[ ! $instance_name == *"awc-0" ]]
        then
            unset log_list[0]
        fi

        for log_file in $${log_list[@]}
        do
            container_logs=$container_logs"/opt/teradici/casc/logs/k3s.connector.$log_file.log '%b %d %H:%M:%S' "
        done

        . $CLOUDWATCH_SETUP_SCRIPT $AWS_REGION \
            $LOG_FILE                         "%b %d %H:%M:%S" \
            "/var/log/cloud-init-output.log"  "%b %d %H:%M:%S" \
            "/var/log/messages"               "%b %d %H:%M:%S" \
            $AWC_INSTALL_LOG                  "%b %d %H:%M:%S" \
            "/var/log/teradici/user-data.log" "%b %d %H:%M:%S" \
            $container_logs
    fi
}

get_credentials() {
    # In some cases, the Anyware Manager Deployment Service Account key is generated
    # by a new Anyware Manager VM that is being created in parallel as the Anyware
    # Connector. Loop until the file is found in the storage bucket.

    retry 120 `# 120 retries` \
          60  `# 60s interval` \
          "aws s3 cp s3://$BUCKET_NAME/$AWM_DEPLOYMENT_SA_FILE $PROVISIONING_DIR" \
          "--> ERROR: Failed to download Anyware Manager deployment Service Account key from bucket $BUCKET_NAME."

    # Disable logging of secrets by wrapping the region with set +x and set -x
    set +x

    if [[ -z "$CUSTOMER_MASTER_KEY_ID" ]]
    then
        log "--> Script is not using encryption for secrets."

    else
        log "--> Script is using encryption key: $CUSTOMER_MASTER_KEY_ID"

        log "--> Decrypting AD service account password..."
        AD_SERVICE_ACCOUNT_PASSWORD=$(aws kms decrypt --region $AWS_REGION --ciphertext-blob fileb://<(echo "$AD_SERVICE_ACCOUNT_PASSWORD" | base64 -d) --output text --query Plaintext | base64 -d)

        log "--> Decrypting Anyware Manager Deployment Service Account JSON file..."
        AWM_CREDENTIALS=$(aws kms decrypt --region $AWS_REGION --ciphertext-blob fileb://"$PROVISIONING_DIR/$AWM_DEPLOYMENT_SA_FILE" --output text --query Plaintext | base64 -d)
        echo $AWM_CREDENTIALS > $PROVISIONING_DIR/$AWM_DEPLOYMENT_SA_FILE
    fi
    set -x
}

get_connector_token() {
    log "--> Retrieving connector token before Anyware Connector install..."

    local args=""

    log "--> Downloading Anyware Manager python script from the bucket..."
    retry 3 `# 3 retries` \
          5 `# 5s interval` \
          "aws s3 cp s3://$BUCKET_NAME/$AWM_SCRIPT $PROVISIONING_DIR" \
          "--> ERROR: Failed to download Anyware Manager python script from s3://$BUCKET_NAME/$AWM_SCRIPT"
    chmod +x $PROVISIONING_DIR/$AWM_SCRIPT

    # Ensure line endings are in Unix format
    dos2unix $PROVISIONING_DIR/$AWM_SCRIPT
    dos2unix $PROVISIONING_DIR/$AWM_DEPLOYMENT_SA_FILE

    # Set CONNECTOR_TOKEN variable using the script's output
    if [ "$MANAGER_INSECURE" ]
    then
        args="--insecure"
    fi

    PYTHONWARNINGS="ignore:Unverified HTTPS request" $PROVISIONING_DIR/$AWM_SCRIPT $PROVISIONING_DIR/$AWM_DEPLOYMENT_SA_FILE --url $MANAGER_URL --out $CONNECTOR_TOKEN_FILE $args
    set +x
    CONNECTOR_TOKEN=`cat $CONNECTOR_TOKEN_FILE`
    set -x
    rm $CONNECTOR_TOKEN_FILE

    # Check and exit provisioning script if retrieving connector token failed
    if [ $? -ne 0 ]; then
        log "--> ERROR: Failed to retrieve connector token using Anyware Manager script. Exiting provisioning script..."
        exit 1
    fi
}

check_required_vars() {
    set +x
    if [[ -z "$AD_SERVICE_ACCOUNT_PASSWORD" ]]; then
        log "--> ERROR: Missing Active Directory Service Account Password."
        missing_vars="true"
    fi

    if [[ -z "$CONNECTOR_TOKEN" ]]; then
        log "--> ERROR: Missing Anyware Connector Token."
        missing_vars="true"
    fi
    set -x

    if [[ "$missing_vars" == "true" ]]; then
        log "--> Exiting..."
        exit 1
    fi
}

configure_firewall(){
    # Ran into the following dbus error when using firewall-cmd. Using firewall-offline-cmd as a workaround.
    # ERROR:dbus.proxies:Introspect error on :1.30:/org/fedoraproject/FirewallD1: dbus.exceptions.DBusException: org.freedesktop.DBus.Error.NoReply

    firewall-offline-cmd --set-default-zone trusted
    firewall-offline-cmd --add-port=6443/tcp # virtual network flannel
    firewall-offline-cmd --add-port=4172/tcp # PCoIP SG port
    firewall-offline-cmd --add-port=4172/udp # PCoIP SG port
    firewall-offline-cmd --zone=trusted --add-source=10.42.0.0/16 # This subnet is for the pods
    firewall-offline-cmd --zone=trusted --add-source=10.43.0.0/16 # This subnet is for the services

    systemctl enable firewalld
    systemctl start firewalld
}

check_connector_installed() {
    if [[ -f "$AWC_BIN_PATH" ]]; then
        log "--> Anyware Connector already installed. Skipping provisioning script..."
        exit 0
    fi
}

add_awm_repo() {
    log "--> Adding Anyware Manager repo..."
    curl -1sLf $AWC_REPO_SETUP_SCRIPT_URL | distro=el codename=8 bash
    dnf repolist --enabled teradici-anyware-manager*
}

config_selinux() {
    log "--> Configuring SE Linux..."
    dnf install -y selinux-policy-base container-selinux
    dnf install -y https://github.com/k3s-io/k3s-selinux/releases/download/v1.1.stable.1/k3s-selinux-1.1-1.el8.noarch.rpm
    dnf install -y anyware-manager-selinux
}

install_awc() {
    log "--> Installing Anyware Connector..."
    dnf install -y anyware-connector 2>&1 | tee -a $AWC_INSTALL_LOG

    if [ $? -ne 0 ]
    then
        log "--> ERROR: Failed to install Anyware Connector..."
        exit 1
    fi
}

wait_for_dc() {
    # Wait for service account to be added. Do this last because it takes
    # a while for new AD user to be added in a new Domain Controller.
    # Note: using the domain controller IP instead of the domain name for
    #       the host is more resilient.

    log "--> Installing utility packages..."
    retry 5 `# 5 retries` \
          5 `# 5s interval` \
          "dnf -y install bind-utils nc openldap-clients" \
          "--> ERROR: Failed to install utility packages."

    set +x
    log "--> Ensure AD account is available..."
    retry 240 `# 240 retries` \
          10  `# 10s interval` \
          "ldapwhoami \
            -H ldap://$DOMAIN_CONTROLLER_IP \
            -D $AD_SERVICE_ACCOUNT_USERNAME@$DOMAIN_NAME \
            -w $AD_SERVICE_ACCOUNT_PASSWORD \
            -o nettimeout=1" \
          "--> ERROR: AD account $AD_SERVICE_ACCOUNT_USERNAME@$DOMAIN_NAME is not available."
    set -x
    # Check that the domain name can be resolved and that the LDAP port is accepting
    # connections. This could have been all done with the ldapwhoami command, but
    # due to a number of occasional Anyware Connector installation issues, such as "domain
    # controller unreachable" or "DNS error occurred" errors, check these explicitly
    # for logging and debug purposes.
    log "--> Ensure domain $DOMAIN_NAME can be resolved..."
    retry 120 `# 120 retries` \
          10  `# 10s interval` \
          "host $DOMAIN_NAME" \
          "--> ERROR: Failed to resolve $DOMAIN_NAME."

    log "--> Ensure domain $DOMAIN_NAME port 636 is reacheable..."
    retry 120 `# 120 retries` \
          10  `# 10s interval` \
          "nc -vz $DOMAIN_NAME 636" \
          "--> ERROR: Falied to contact $DOMAIN_NAME:636."
}

download_ldaps_cert() {
    log "--> Downloading LDAPS Cert..."
    retry 10 `# 10 retries` \
          10 `# 10s interval` \
          "aws s3 cp s3://$BUCKET_NAME/$LDAPS_CERT_FILENAME $PROVISIONING_DIR" \
          "--> ERROR: Failed to download LDAPS Cert."
}

wait_for_lls() {
    local lls_health_check_url="http://$LLS_IP:7070/api/1.0/health"

    log "--> Performing LLS health check using endpoint $lls_health_check_url..."
    # Need to escape Terraform template directive using %%
    retry 120 `# 120 retries` \
          10  `# 10s interval` \
          "[ $(curl --silent --write-out "%%{http_code}\n" --output /dev/null $lls_health_check_url) -eq 200 ]" \
          "--> ERROR: Timed out trying to perform health check using endpoint $lls_health_check_url. Continuing..."
}

configure_awc() {
    log "--> Configuring Anyware Connector..."
    local args=""

    log "--> Running command: $AWC_BIN_PATH configure"
    log "--> Anyware Connector configure options:"
    log "  --token <connector_token>"
    log "  --accept-policies"
    log "  --computers-dn \"$COMPUTERS_DN\""
    log "  --users-dn \"$USERS_DN\""
    log "  --sa-user <ad_service_account_username>"
    log "  --sa-password <ad_service_account_password>"
    log "  --domain $DOMAIN_NAME"
    log "  --ldaps-ca-cert $PROVISIONING_DIR/$LDAPS_CERT_FILENAME"
    log "  --retrieve-agent-state true"
    log "  --show-agent-state true"
    log "  --sync-interval 5"
    log "  --manager-url $MANAGER_URL"
    log "  $AWC_EXTRA_INSTALL_FLAGS"

    # Set pipefail option to return status of the connector install command
    set -o pipefail

    if [ "$TLS_KEY" ]
    then
        log "  --tls-key <tls_key>"
        log "  --tls-cert <tls_cert>"
        retry 3 `# 3 retries` \
              5 `# 5s interval` \
              "aws s3 cp s3://$BUCKET_NAME/$TLS_KEY $PROVISIONING_DIR" \
              "--> ERROR: Failed to download TLS key from $BUCKET_NAME"
        retry 3 `# 3 retries` \
              5 `# 5s interval` \
              "aws s3 cp s3://$BUCKET_NAME/$TLS_CERT $PROVISIONING_DIR" \
              "--> ERROR: Failed to download TLS cert from $BUCKET_NAME"

        args=$args"--tls-key $PROVISIONING_DIR/$TLS_KEY "
        args=$args"--tls-cert $PROVISIONING_DIR/$TLS_CERT "
    else
        log "  --self-signed"
        args=$args"--self-signed "
    fi

    if [ "$MANAGER_INSECURE" ]
    then
        log "  --manager-insecure"
        args=$args"--manager-insecure "
    fi

    if [ "$LLS_IP" ]
    then
        log "  --local-license-server-url http://$LLS_IP:7070/request"
        args=$args"--local-license-server-url http://$LLS_IP:7070/request "
    fi

    set +x
    retry 10 `# 10 retries` \
        10 `# 10s interval` \
        "$AWC_BIN_PATH configure \
        --debug \
        --token $CONNECTOR_TOKEN \
        --accept-policies \
        --computers-dn \"$COMPUTERS_DN\" \
        --users-dn \"$USERS_DN\" \
        --sa-user \"$AD_SERVICE_ACCOUNT_USERNAME\" \
        --sa-password \"$AD_SERVICE_ACCOUNT_PASSWORD\" \
        --domain $DOMAIN_NAME \
        --ldaps-ca-cert $PROVISIONING_DIR/$LDAPS_CERT_FILENAME \
        --retrieve-agent-state true \
        --show-agent-state true \
        --sync-interval 5 \
        --manager-url $MANAGER_URL \
        --registry-password $TERADICI_DOWNLOAD_TOKEN \
        $AWC_EXTRA_INSTALL_FLAGS \
        $args \
        2>&1 | tee -a $AWC_INSTALL_LOG" \
        "--> ERROR: Failed to configure Anyware Connector."
    set -x

    if [ $? -ne 0 ]
    then
        log "--> Exiting provisioning script due to an error."
        exit 1
    fi

    log "--> Successfully configured Anyware Connector."
}

setup_ssm() {
    yum install -y https://s3.amazonaws.com/ec2-downloads-windows/SSMAgent/latest/linux_amd64/amazon-ssm-agent.rpm
    systemctl enable amazon-ssm-agent
    systemctl start amazon-ssm-agent
}

cleanup() {
    rm $PROVISIONING_DIR/$LDAPS_CERT_FILENAME
}

if [[ ! -f "$LOG_FILE" ]]
then
    mkdir -p "$(dirname $LOG_FILE)"
    touch "$LOG_FILE"
    chmod +644 "$LOG_FILE"
fi

# Print all executed commands to the terminal
set -x

# Redirect stdout and stderr to the log file
exec &>>$LOG_FILE

log "$(date) Running $0 as $(whoami)..."

cd $PROVISIONING_DIR

install_prereqs

if [[ "$CLOUDWATCH_ENABLE" == "true" ]]
then
    setup_cloudwatch
fi

if [[ "$AWS_SSM_ENABLE" == "true" ]]
then
    setup_ssm
fi

get_credentials

configure_firewall

check_connector_installed

add_awm_repo

config_selinux

install_awc

wait_for_dc

download_ldaps_cert

if [ "$LLS_IP" ]
then
    wait_for_lls
fi

get_connector_token

check_required_vars

configure_awc

cleanup

log "--> Provisioning script completed successfully."
