# If secrets are KMS encrypted, specify the KMS key used for encryption. Note
# the GCP service account specified in "gcp_service_account" must have KMS
# decryptor permissions for this key.
# If not specified, secrets are assumed to be plain text. These secrets will
# appear in startup scripts in Google Cloud Storage buckets and in the local
# file terraform.tfstate.
kms_cryptokey_id = "projects/<project-id>/locations/<location>/keyRings/<keyring-name>/cryptoKeys/<key-name>"

dc_admin_password_enc = <base64 KMS encrypted cipher text>
#safe_mode_admin_password_enc = <base64 KMS encrypted cipher text>
service_account_password_enc = <base64 KMS encrypted cipher text>

pcoip_registration_code_enc = <base64 KMS encrypted cipher text> 

cac_token = "token from Cloud Access Manager for the connector"

