# Commented out lines represents defaults that can be changed
gcp_credentials_file = "/path/to/cred.json"
gcp_project_id       = "your-project-1234"
gcp_service_account  = "service_account_name@<project_id>.iam.gserviceaccount.com"
# gcp_region           = "us-west2"
# gcp_zone             = "us-west2-b"

# prefix = "myprefix"

# By default, ICMP, SSH, RDP and WinRM are only allowed from the Terraform host.
# Define allowed_cidr to open the VPC firewall to additional IP addresses or 
# CIDRs.
# allowed_cidr = ["a.b.c.d", "e.f.g.0/24"]

# domain_name = "example.com"

# Optional: additional AD users to create
# domain_users_list = "/path/to/domain_users_list.csv"

# cac_machine_type = "n1-standard-2"
# cac_disk_size_gb = 50
cac_admin_ssh_pub_key_file = "~/.ssh/id_rsa.pub"
# Optional: Specify SSL certificate for Connector
# ssl_key  = "/path/to/privkey.pem"
# ssl_cert = "/path/to/fullchain.pem"

win_gfx_instance_count = 0
# win_gfx_machine_type = "n1-standard-4"
# win_gfx_accelerator_type = "nvidia-tesla-p4-vws"
# win_gfx_accelerator_count = 1
# win_gfx_disk_size_gb = 50
# win_gfx_disk_image = "projects/windows-cloud/global/images/windows-server-2016-dc-v20190620"

centos_gfx_instance_count = 0
# centos_gfx_machine_type = "n1-standard-2"
# centos_gfx_accelerator_type = "nvidia-tesla-p4-vws"
# centos_gfx_accelerator_count = 1
# centos_gfx_disk_size_gb = 50
# centos_gfx_disk_image = "projects/centos-cloud/global/images/centos-7-v20190813"

centos_std_instance_count = 0
# centos_std_machine_type = "n1-standard-2"
# centos_std_disk_size_gb = 50
# centos_std_disk_image = "projects/centos-cloud/global/images/centos-7-v20190813"

centos_admin_ssh_pub_key_file = "~/.ssh/id_rsa.pub"

###############
#   Secrets   #
###############
# The secrets below may be supplied in 2 formats:
#   1. plain text
#   2. KMS encrypted, base64 encoded
# For option 1, leave "kms_cryptokey_id" commented out.
# For option 2, set "kms_cryptokey_id" to the KMS key used to encrypt the
# secrets. The GCP service account specified above in "gcp_service_account"
# must be in the same project and have KMS decryptor permissions for this key.

kms_cryptokey_id = "projects/<project-id>/locations/<location>/keyRings/<keyring-name>/cryptoKeys/<key-name>"

# Note Windows password complexity requirements:
# 1. Must not contain user's account name or display name
# 2. Must have 3 of the following categories:
#    a. a-z
#    b. A-Z
#    c. 0-9,
#    d. (~!@#$%^&*_-+=`|\(){}[]:;"'<>,.?/)
#    3. unicode characters
# See: https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/password-must-meet-complexity-requirements

dc_admin_password        = "SecuRe_pwd1"
safe_mode_admin_password = "SecuRe_pwd2"
service_account_password = "SecuRe_pwd3"
pcoip_registration_code  = "ABCDEFGHIJKL@0123-4567-89AB-CDEF"
cac_token                = "token from Cloud Access Manager for the connector"

