# 1. Replace <code> with your PCoIP Registration code. If you don't have one,
#    visit: https://www.teradici.com/compare-plans
reg_code: <code>

# 2. Replace <token> with the CAS Manager API token. Log into
#    https://cas.teradici.com, click on your email address on the top right
#    and select "Get API token"
api_token: <token>

# 3. To use a region other than us-west-1, replace the default us-west-1
#    region with the AWS region to deploy in. When deploying any graphics
#    workstation, make sure that G4 instances are available in that region.
#    Please refer to: https://aws.amazon.com/ec2/instance-types/g4/
aws_region: us-west-1

# 4a. Number of Standard CentOS Remote Workstations to create
scent: 0

# 4b. Number of Graphics CentOS Remote Workstations to create
gcent: 0

# 4c. Number of Standard Windows Remote Workstations to create
swin: 0

# 4d. Number of Graphics Windows Remote Workstations to create
gwin: 0

# 5. Add a prefix for the names of your IAM resources
prefix : quick

# 6. Save this file
