# Commented out lines represents defaults that can be changed
aws_credentials_file = "/path/to/aws_key"
# aws_region = "us-west-1"

# prefix = "myprefix"

domain_name = "example.com"

# Optional: additional AD users to create
# domain_users_list = "/path/to/domain_users_list.csv"

admin_ssh_pub_key_file = "~/.ssh/id_rsa.pub"

centos_std_instance_count = 0
# centos_std_instance_type  = "t2.xlarge"
# centos_std_disk_size_gb   = 50
# centos_std_ami_owner      = "aws-marketplace"
# centos_std_ami_name       = "CentOS Linux 7 x86_64 HVM EBS ENA 1901*"

###############
#   Secrets   #
###############

# Note Windows password complexity requirements:
# 1. Must not contain user's account name or display name
# 2. Must have 3 of the following categories:
#    a. a-z
#    b. A-Z
#    c. 0-9,
#    d. (~!@#$%^&*_-+=`|\(){}[]:;"'<>,.?/)
#    3. unicode characters
# See: https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/password-must-meet-complexity-requirements

dc_admin_password        = "SecuRe_pwd1"
safe_mode_admin_password = "SecuRe_pwd2"
service_account_password = "SecuRe_pwd3"
pcoip_registration_code  = "ABCDEFGHIJKL@0123-4567-89AB-CDEF"
cac_token                = "token from Cloud Access Manager for the connector"
