# Commented out lines represent defaults that can be changed.
# On Windows systems, the default backslash \ path separator must be changed 
# to forward slash / for any path variables.
# Example: aws_credentials_file = "C:/path/to/aws_key"

# Path to an AWS Credentials File. Please see
# https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-files.html
# for details on file format.
aws_credentials_file = "/path/to/aws_key"
# aws_region = "us-west-1"

# Prefix to add to resources' names, max 5 characters to avoid cropping of
# workstation hostnames.
# prefix = ""

# By default, ICMP, SSH, RDP and WinRM are only allowed from the Terraform host.
# Define allowed_admin_cidrs to open the VPC firewall to additional IP addresses
# or CIDR. e.g. ["a.b.c.d/32", "e.f.g.0/24"]
# allowed_admin_cidrs = []

# By default, PCoIP clients are allowed from any IP (0.0.0.0/0). Define
# allowed_client_cidrs to restrict IP addresses from which PCoIP clients can
# connect to remote workstations. e.g. ["a.b.c.d/32", "e.f.g.0/24"]
# allowed_client_cidrs = ["0.0.0.0/0"]

# Note the domain name must comply with the character and length restrictions:
# - each label must:
#   - only contain a-z, A-Z, 0-9, and hyphen(-)
#   - be at least 2 and at most 63 characters long
#   - not start or end with a hyphen(-)
# - the lowest level domain (ex. 'dev' in dev.example.com) must be at most 15 characters long
# - must not end with '.local'
# see: https://docs.microsoft.com/en-us/troubleshoot/windows-server/identity/naming-conventions-for-computer-domain-site-ou
# domain_name = "example.com"

# Optional: additional AD users to create
# domain_users_list = "/path/to/domain_users_list.csv"

# awc_instance_type = "t3.xlarge"
# awc_disk_size_gb  = "60"

# Optional: Specify TLS certificate for Anyware Connector
# tls_key  = "/path/to/privkey.pem"
# tls_cert = "/path/to/fullchain.pem"

admin_ssh_pub_key_file = "~/.ssh/id_rsa.pub"

win_gfx_instance_count = 0
# win_gfx_instance_type = "g4dn.xlarge"
# win_gfx_disk_size_gb  = 50
# win_gfx_ami_owner     = "amazon"
# win_gfx_ami_name      = "Windows_Server-2019-English-Full-Base-2024.04.10"

win_std_instance_count = 0
# win_std_instance_type = "t3.xlarge"
# win_std_disk_size_gb  = 50
# win_std_ami_owner     = "amazon"
# win_std_ami_name      = "Windows_Server-2019-English-Full-Base-2024.04.10"

rocky_gfx_instance_count = 0
# rocky_gfx_instance_type = "g4dn.xlarge"
# rocky_gfx_disk_size_gb  = 50
# rocky_gfx_ami_owner     = "792107900819"
# rocky_gfx_ami_name      = "Rocky-8-EC2-Base-8.8-20230518.0.x86_64" 

rocky_std_instance_count = 0
# rocky_std_instance_type = "t3.xlarge"
# rocky_std_disk_size_gb  = 50
# rocky_std_ami_owner     = "792107900819"
# rocky_std_ami_name      = "Rocky-8-EC2-Base-8.8-20230518.0.x86_64" 

# Note Windows passwords must be at least 7 characters long and meet complexity
# requirements:
# 1. Must not contain user's account name or display name
# 2. Must have 3 of the following categories:
#    - a-z
#    - A-Z
#    - 0-9
#    - special characters: ~!@#$%^&*_-+=`|\(){}[]:;"'<>,.?/
#    - unicode characters
# See: https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/password-must-meet-complexity-requirements

dc_admin_password           = "SecuRe_pwd1"
safe_mode_admin_password    = "SecuRe_pwd2"
ad_service_account_password = "SecuRe_pwd3"
pcoip_registration_code     = "ABCDEFGHIJKL@0123-4567-89AB-CDEF"
awm_deployment_sa_file      = "/path/to/awm-deployment-service-account.json"
