# Commented out lines represents defaults that can be changed
gcp_credentials_file = "/path/to/cred.json"
gcp_project_id = "your-project-1234"

prefix = "myprefix"

domain_name = "example.com"
dc_admin_password = "secure_password"
safe_mode_admin_password = "secure_password2"
service_account_password = "secure_password3"
domain_users_list = "domain_users_list_sample.csv"
