# Commented out lines represent defaults that can be changed.
# On Windows systems, the default backslash \ path separator must be changed 
# to forward slash / for any path variables.
# Example: aws_credentials_file = "C:/path/to/aws_key"

# Path to an AWS Credentials File. Please see
# https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-files.html
# for details on file format.
aws_credentials_file = "/path/to/aws_key"
# aws_region = "us-west-1"

# Prefix to add to resources' names, max 5 characters to avoid cropping of
# workstation hostnames.
# prefix = ""

# By default, ICMP, SSH, RDP and WinRM to the deployed virtual machines are only
# allowed from the Terraform host. HTTPS/API access to Anyware Manager is also
# limited by this range. Define allowed_admin_cidrs to open the VPC firewall to
# additional IP addresses or CIDR. e.g. ["a.b.c.d/32", "e.f.g.0/24"]
# allowed_admin_cidrs = []

# By default, PCoIP clients are allowed from any IP (0.0.0.0/0). Define
# allowed_client_cidrs to restrict IP addresses from which PCoIP clients can
# connect to remote workstations. e.g. ["a.b.c.d/32", "e.f.g.0/24"]
# allowed_client_cidrs = ["0.0.0.0/0"]

# SSH public key to access Linux-based instances
admin_ssh_pub_key_file = "~/.ssh/id_rsa.pub"

#########################
#   Domain Controller   #
#########################
# Note the domain name must comply with the character and length restrictions:
# - each label must:
#   - only contain a-z, A-Z, 0-9, and hyphen(-)
#   - be at least 2 and at most 63 characters long
#   - not start or end with a hyphen(-)
# - the lowest level domain (ex. 'dev' in dev.example.com) must be at most 15 characters long
# - must not end with '.local'
# see: https://docs.microsoft.com/en-us/troubleshoot/windows-server/identity/naming-conventions-for-computer-domain-site-ou
# domain_name = "example.com"

# Optional: additional AD users to create
# domain_users_list = "/path/to/domain_users_list.csv"

#######################
#   Anyware Manager   #
#######################
# awm_instance_type = "t3.xlarge"
# awm_disk_size_gb  = "60"

##############################
#   Anyware Connector   #
##############################
# awc_instance_type = "t3.xlarge"
# awc_disk_size_gb  = "60"

# Optional: Specify TLS certificate for Anyware Connector
# tls_key  = "/path/to/privkey.pem"
# tls_cert = "/path/to/fullchain.pem"

####################
#   Workstations   #
####################
win_gfx_instance_count = 0
# win_gfx_instance_type = "g4dn.xlarge"
# win_gfx_disk_size_gb  = 50
# win_gfx_ami_owner     = "amazon"
# win_gfx_ami_name      = "Windows_Server-2019-English-Full-Base-2023.09.13"

win_std_instance_count = 0
# win_std_instance_type = "t3.xlarge"
# win_std_disk_size_gb  = 50
# win_std_ami_owner     = "amazon"
# win_std_ami_name      = "Windows_Server-2019-English-Full-Base-2023.09.13"

centos_gfx_instance_count = 0
# centos_gfx_instance_type = "g4dn.xlarge"
# centos_gfx_disk_size_gb  = 50
# centos_gfx_ami_owner     = "125523088429"
# centos_gfx_ami_name      = "CentOS Linux 7 x86_64 - 2211"

centos_std_instance_count = 0
# centos_std_instance_type = "t3.xlarge"
# centos_std_disk_size_gb  = 50
# centos_std_ami_owner     = "125523088429"
# centos_std_ami_name      = "CentOS Linux 7 x86_64 - 2211"

###############
#   Secrets   #
###############
# The secrets below may be supplied in 2 formats:
#   1. plain text
#   2. AWS KMS encrypted, base64 encoded
#
# For option 1, leave "customer_master_key_id" commented out and enter the
# plaintext passwords as strings in the variables below. Note that plaintext
# passwords may show in Terraform logs and .tfstate files, appear unencrypted
# in the storage bucket holding the provisioning scripts, as well as in the 
# provisioning scripts once downloaded by the VMs.
#
# For option 2, a user encrypts the secrets independent of these Terraform
# scripts. Once the secrets are encrypted with an AWS KMS customer managed
# Customer Master Key (CMK), set "customer_master_key_id" to key ID used to
# encrypt the secrets, and enter the base64-encoded ciphertext as strings in the
# variables below. The AWS IAM account corresponding to the
# "aws_credentials_file" above must have admin permissions to manage the CMK
# specified.
#
# Note Windows passwords must be at least 7 characters long and meet complexity
# requirements:
# 1. Must not contain user's account name or display name
# 2. Must have 3 of the following categories:
#    - a-z
#    - A-Z
#    - 0-9
#    - special characters: ~!@#$%^&*_-+=`|\(){}[]:;"'<>,.?/
#    - unicode characters
# See: https://docs.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/password-must-meet-complexity-requirements

# Uncomment and enter the Customer Master Key ID if using encryption.
# customer_master_key_id = "<key-id-uuid>"

# <-- Start of secrets section, do not edit this line. -->
dc_admin_password           = "SecuRe_pwd1"
safe_mode_admin_password    = "SecuRe_pwd2"
ad_service_account_password = "SecuRe_pwd3"
awm_admin_password          = "SecuRe_pwd4"
pcoip_registration_code     = "ABCDEFGHIJKL@0123-4567-89AB-CDEF"
awm_aws_credentials_file    = "/path/to/aws_credentials.ini"
