# Copyright Teradici Corporation 2019;  © Copyright 2023 HP Development Company, L.P.
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree.

$BASE_DIR = "C:\Teradici"
$LOG_FILE = "$BASE_DIR\provisioning.log"
$ADMIN_PASSWORD_ID = "${admin_password_id}"

$ADMIN_PASSWORD = & gcloud secrets versions access latest --secret=$ADMIN_PASSWORD_ID --format="get(payload.data)" |
ForEach-Object { [System.Text.Encoding]::UTF8.GetString([System.Convert]::FromBase64String($_)) }

Start-Transcript -path $LOG_FILE -append

# Enforce TLS 1.2 as a precaution for deprecation of TLS prior versions
# Adding TLS 1.2 for Invoke-RestMethod
[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12

net user Administrator $ADMIN_PASSWORD /active:yes
