# Copyright Teradici Corporation 2019;  © Copyright 2023 HP Development Company, L.P.
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree.

$BASE_DIR = "C:\Teradici"
$LOG_FILE = "$BASE_DIR\provisioning.log"

$DATA = New-Object "System.Collections.Generic.Dictionary[[String],[String]]"
$DATA.Add("admin_password", "${admin_password}")

Start-Transcript -path $LOG_FILE -append

# Enforce TLS 1.2 as a precaution for deprecation of TLS prior versions
# Adding TLS 1.2 for Invoke-RestMethod
[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12

net user Administrator $DATA."admin_password" /active:yes
