# Copyright (c) 2019 Teradici Corporation
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree.

#!/bin/bash

LOG_FILE="/var/log/teradici/provisioning.log"

PROVISIONING_DIR="/root"
CAC_BIN_PATH="/usr/sbin/cloud-access-connector"
CAC_TOKEN_FILE=$PROVISIONING_DIR/cac_token
CAC_INSTALL_LOG="/var/log/teradici/cac-install.log"
CAC_LOCATION_URL="https://dl.teradici.com/${teradici_download_token}/cloud-access-connector/raw/names/cloud-access-connector-linux-tgz/versions/${cac_version}"
CAC_FILENAME="cloud-access-connector_${cac_version}_Linux.tar.gz"
cd $PROVISIONING_DIR

METADATA_BASE_URI="http://metadata.google.internal/computeMetadata/v1/instance"
METADATA_AUTH_URI="$METADATA_BASE_URI/service-accounts/default/token"

PCOIP_NETWORK_CONF_FILE="/etc/sysctl.d/01-pcoip-cac-network.conf"

export DEBIAN_FRONTEND=noninteractive

log() {
    local message="$1"
    echo "[$(date)] $message"
}

retry() {
    local timeout="$1"
    local interval="$2"
    local command="$3"
    local log_message="$4"
    local err_message="$5"

    until $command
    do
        if [ $timeout -le 0 ]
        then
            log $err_message
            break
        fi

        log "$log_message Retrying in $interval seconds... (Timeout in $timeout seconds)"

        timeout=$((timeout-interval))
        sleep $interval
    done
}

install_prereqs() {
    log "--> Installing dos2unix, python3..."
    apt-get -qq update
    apt install -y dos2unix python3

    if [ $? -ne 0 ]
    then
        log "--> ERROR: Failed to install prerequisites. Exiting provisioning script..."
        exit 1
    fi
}

get_credentials() {
    # In some cases, the CAS Manager Deployment Service Account key is
    # generated by a new CAS Manager VM that is being created in parallel as the
    # CAC. Loop until the file is found in the storage bucket.
    local timeout=7200
    local interval=60

    retry $timeout \
          $interval \
          "gsutil cp gs://${bucket_name}/${cas_mgr_deployment_sa_file} $PROVISIONING_DIR" \
          "--> Downloading CAS Manager Deployment Service Account key from the bucket ${bucket_name}..." \
          "--> ERROR: Failed to download CAS Manager Deployment Service Account key from bucket ${bucket_name}."

    # Disable logging of secrets by wrapping the region with set +x and set -x
    set +x

    if [[ -z "${kms_cryptokey_id}" ]]; then
        log "--> Script is not using encryption for secrets."

        AD_SERVICE_ACCOUNT_PASSWORD=${ad_service_account_password}

    else
        log "--> Script is using encryption key: ${kms_cryptokey_id}"

        # Gets key informations needed for decode from kms_cryptokey_id
        # kms_cryptokey_id: projects/<project-id>/locations/<location>/keyRings/<keyring-name>/cryptoKeys/<key-name>
        local kms_location="$(echo ${kms_cryptokey_id} | cut -d'/' -f4)"
        local kms_keyring="$(echo ${kms_cryptokey_id} | cut -d'/' -f6)"
        local kms_key="$(echo ${kms_cryptokey_id} | cut -d'/' -f8)"

        log "--> Decrypting AD service account password..."
        AD_SERVICE_ACCOUNT_PASSWORD=$(echo -n ${ad_service_account_password} | base64 --decode | gcloud kms decrypt --key "$kms_key" --keyring "$kms_keyring" --location "$kms_location" --ciphertext-file - --plaintext-file -)

        log "--> Decrypting CAS Manager Deployment Service Account JSON file..."
        cat $PROVISIONING_DIR/${cas_mgr_deployment_sa_file} | gcloud kms decrypt --key "$kms_key" --keyring "$kms_keyring" --location "$kms_location" --ciphertext-file - --plaintext-file $PROVISIONING_DIR/${cas_mgr_deployment_sa_file}
    fi
    set -x
}

get_cac_token() {
    log "--> Retrieving connector token before CAC install..."

    local args=""

    log "--> Downloading CAS Manager python script from the bucket..."
    gsutil cp gs://${bucket_name}/${cas_mgr_script} $PROVISIONING_DIR
    chmod +x $PROVISIONING_DIR/${cas_mgr_script}

    # Ensure line endings are in Unix format
    dos2unix $PROVISIONING_DIR/${cas_mgr_script}
    dos2unix $PROVISIONING_DIR/${cas_mgr_deployment_sa_file}

    # Set CAC_TOKEN variable using the script's output
    if [ "${cas_mgr_insecure}" ]
    then
        args="--insecure"
    fi

    PYTHONWARNINGS="ignore:Unverified HTTPS request" $PROVISIONING_DIR/${cas_mgr_script} $PROVISIONING_DIR/${cas_mgr_deployment_sa_file} --url ${cas_mgr_url} --out $CAC_TOKEN_FILE $args
    CAC_TOKEN=`cat $CAC_TOKEN_FILE`
    rm $CAC_TOKEN_FILE

    # Check and exit provisioning script if retrieving connector token failed
    if [ $? -ne 0 ]; then
        log "--> ERROR: Failed to retrieve connector token using CAS Manager script. Exiting provisioning script..."
        exit 1
    fi
}

check_required_vars() {
    set +x
    if [[ -z "$AD_SERVICE_ACCOUNT_PASSWORD" ]]; then
        log "--> ERROR: Missing Active Directory Service Account Password."
        missing_vars="true"
    fi
    set -x

    if [[ -z "$CAC_TOKEN" ]]; then
        log "--> ERROR: Missing Cloud Access Connector Token."
        missing_vars="true"
    fi

    if [[ "$missing_vars" = "true" ]]; then
        log "--> Exiting..."
        exit 1
    fi
}

check_connector_installed() {
    if [[ -f "$CAC_BIN_PATH" ]]; then
        log "--> Connector already installed. Skipping provisioning script..."
        exit 0
    fi
}

config_network() {
    if [[ ! -f $PCOIP_NETWORK_CONF_FILE ]]; then
        log "--> Configuring network..."
        # Note the indented HEREDOC lines must be preceded by tabs, not spaces
        cat <<- EOF > $PCOIP_NETWORK_CONF_FILE
			# System Control network settings for CAC
			net.core.rmem_max=160000000
			net.core.rmem_default=160000000
			net.core.wmem_max=160000000
			net.core.wmem_default=160000000
			net.ipv4.udp_mem=120000 240000 600000
			net.core.netdev_max_backlog=2000
			EOF

        sysctl -p $PCOIP_NETWORK_CONF_FILE
    fi
}

download_cac() {
    log "--> Downloading CAC installer..."
    cac_installer_url="$CAC_LOCATION_URL/$CAC_FILENAME"
    curl -L $cac_installer_url -o $PROVISIONING_DIR/cloud-access-connector.tar.gz
    tar xzvf $PROVISIONING_DIR/cloud-access-connector.tar.gz -C /
}

wait_for_dc() {
    local timeout=25
    local interval=5

    # Wait for service account to be added. Do this last because it takes
    # a while for new AD user to be added in a new Domain Controller.
    # Note: using the domain controller IP instead of the domain name for
    #       the host is more resilient.

    log "--> Updating apt-get package list..."
    retry $timeout \
          $interval \
          "apt-get -qq update" \
          "--> Updating apt-get package list..." \
          "--> ERROR: Failed to update apt-get package list."

    log "--> Installing ldap_utils..."
    retry $timeout \
          $interval \
          "apt-get -qq install ldap-utils" \
          "--> Installing ldap_utils..." \
          "--> ERROR: Failed to install ldap-utils."

    timeout=1200
    interval=10

    set +x
    log "--> Ensure AD account is available..."
    retry $timeout \
          $interval \
          "ldapwhoami \
            -H ldap://${domain_controller_ip} \
            -D ${ad_service_account_username}@${domain_name} \
            -w $AD_SERVICE_ACCOUNT_PASSWORD \
            -o nettimeout=1" \
          "--> Waiting for AD account ${ad_service_account_username}@${domain_name} to become available." \
          "--> ERROR: Timed out waiting for AD account ${ad_service_account_username}@${domain_name} to become available. Continuing..."
    set -x
    # Check that the domain name can be resolved and that the LDAP port is accepting
    # connections. This could have been all done with the ldapwhoami command, but
    # due to a number of occasional cac-installation issues, such as "domain
    # controller unreachable" or "DNS error occurred" errors, check these explicitly
    # for logging and debug purposes.
    log "--> Ensure domain ${domain_name} can be resolved..."
    retry $timeout \
          $interval \
          "host ${domain_name}" \
          "--> Trying to resolve ${domain_name}." \
          "--> ERROR: Timed out trying to resolve ${domain_name}. Continuing..."

    log "--> Ensure domain ${domain_name} port 636 is reacheable..."
    retry $timeout \
          $interval \
          "netcat -vz ${domain_name} 636" \
          "--> Trying to contact ${domain_name}:636." \
          "--> ERROR: Timed out trying to contact ${domain_name}:636. Continuing..."
}

install_cac() {
    log "--> Installing Cloud Access Connector..."
    local retries=10
    local args=""

    log "--> Running command: $CAC_BIN_PATH install"
    log "--> CAC install options:"
    log "  -t <cac_token>"
    log "  --accept-policies"
    log "  --sa-user <ad_service_account_username>"
    log "  --sa-password <ad_service_account_password>"
    log "  --domain ${domain_name}"
    log "  --retrieve-agent-state true"
    log "  --sync-interval 5"
    log "  --casm-url ${cas_mgr_url}"
    log "  ${cac_extra_install_flags}"

    # Set pipefail option to return status of the connector install command
    set -o pipefail

    if [ "${ssl_key}" ]
    then
        log "  --ssl-key <ssl_key>"
        log "  --ssl-cert <ssl_cert>"
        gsutil cp gs://${bucket_name}/${ssl_key} $PROVISIONING_DIR
        gsutil cp gs://${bucket_name}/${ssl_cert} $PROVISIONING_DIR

        args=$args"--ssl-key $PROVISIONING_DIR/${ssl_key} "
        args=$args"--ssl-cert $PROVISIONING_DIR/${ssl_cert} "
    else
        log "  --self-signed"
        args=$args"--self-signed "
    fi

    if [ "${cas_mgr_insecure}" ]
    then
        log "  --casm-insecure"
        args=$args"--casm-insecure "
    fi

    if [ "${external_pcoip_ip}" ]
    then
        log "  --external-pcoip-ip ${external_pcoip_ip}"
        args=$args"--external-pcoip-ip ${external_pcoip_ip} "
    fi

    set +x
    while true
    do
        $CAC_BIN_PATH install \
            -t $CAC_TOKEN \
            --accept-policies \
            --sa-user ${ad_service_account_username} \
            --sa-password "$AD_SERVICE_ACCOUNT_PASSWORD" \
            --domain ${domain_name} \
            --retrieve-agent-state true \
            --sync-interval 5 \
            --casm-url ${cas_mgr_url} \
            ${cac_extra_install_flags} \
            $args \
            2>&1 | tee -a $CAC_INSTALL_LOG

        local rc=$?
        if [ $rc -eq 0 ]
        then
            log "--> Successfully installed Cloud Access Connector."
            break
        fi

        if [ $retries -eq 0 ]
        then
            log "--> ERROR: Failed to install Cloud Access Connector. No retries remaining."
            exit 1
        fi

        log "--> ERROR: Failed to install Cloud Access Connector. $retries retries remaining..."
        retries=$((retries-1))
        sleep 60
    done
    set -x
}

if [[ ! -f "$LOG_FILE" ]]
then
    mkdir -p "$(dirname $LOG_FILE)"
    touch "$LOG_FILE"
    chmod +644 "$LOG_FILE"
fi

log "$(date)"

# Print all executed commands to the terminal
set -x

# Redirect stdout and stderr to the log file
exec &>>$LOG_FILE

install_prereqs

get_credentials

get_cac_token

check_required_vars

check_connector_installed

config_network

download_cac

wait_for_dc

install_cac

docker service ls

log "--> Provisioning script completed successfully."
