# Copyright (c) 2020 Teradici Corporation
#
# This source code is licensed under the MIT license found in the
# LICENSE file in the root directory of this source tree.

$LOG_FILE = "C:\Teradici\provisioning.log"

$DATA = New-Object "System.Collections.Generic.Dictionary[[String],[String]]"
$DATA.Add("admin_password", "${admin_password}")

function Decrypt-Credentials {
    try {
        $ByteAry = [System.Convert]::FromBase64String("${admin_password}")
        $MemStream = New-Object System.IO.MemoryStream($ByteAry, 0, $ByteAry.Length)
        $DecryptResp = Invoke-KMSDecrypt -CiphertextBlob $MemStream
        $StreamRead = New-Object System.IO.StreamReader($DecryptResp.Plaintext)
        $DATA."admin_password" = $StreamRead.ReadToEnd()
    }
    catch {
        "Error decrypting credentials: $_"
        return $false
    }
}

Start-Transcript -Path $LOG_FILE -Append -IncludeInvocationHeader

if ([string]::IsNullOrWhiteSpace("${customer_master_key_id}")) {
    "Not using encryption"
} else {
    "Using encryption key ${customer_master_key_id}"
    Decrypt-Credentials
}

"Setting Administrator password ..."
net user Administrator $DATA."admin_password" /active:yes

"Enabling WinRM ..."
Enable-PSRemoting -Force
winrm set winrm/config/service/auth '@{Basic="true"}'

# Create Certificate to support WinRM over HTTPS. hostname doesn't matter since
# we will ignore certificate check when connecting from Terraform
"Generating Self-signed certificate for HTTPS ..."
$Thumbprint = (New-SelfSignedCertificate -DnsName "${hostname}" -CertStoreLocation Cert:\LocalMachine\My | Where-Object {$_.Subject -match "${hostname}"}).Thumbprint

"Creating the HTTPS listener for WinRM ..."
winrm create winrm/config/Listener?Address=*+Transport=HTTPS "@{CertificateThumbprint=`"$Thumbprint`"}"

# Open Firewall
"Adding firewall rule for TCP/5986 for WinRM over HTTPS ..."
New-NetFirewallRule -DisplayName "WinRM HTTPS Created by Teradici Terraform" -Direction Inbound -Protocol TCP -LocalPort 5986 -Action Allow
