# Commented out lines represents defaults that can be changed
gcp_credentials_file = "/path/to/cred.json"
gcp_project_id = "your-project-1234"

prefix = "myprefix"

domain_name = "example.com"
dc_admin_password = "secure_password"
safe_mode_admin_password = "secure_password2"
service_account_password = "secure_password3"

# cac_regions / cac_subnet_cidrs must have length of 3
# cac_regions = ["us-central1", "us-west2", "us-east4"]
# cac_zones = ["us-central1-a", "us-west2-b", "us-east4-b"]
# cac_subnet_cidrs = ["10.0.1.0/24", "10.1.1.0/24", "10.2.1.0/24"]
# cac_machine_type = "n1-standard-2"
# cac_disk_size_gb = 50
cac_admin_ssh_pub_key_file = "~/.ssh/id_rsa.pub"
cac_admin_ssh_priv_key_file = "~/.ssh/id_rsa"

# ws_region = "us-west2"
# ws_subnet_cidr = "10.1.2.0/24"

win_gfx_instance_count = 1
win_gfx_machine_type = "custom-2-8192"
# win_gfx_accelerator_type = "nvidia-tesla-p4-vws"
# win_gfx_accelerator_count = 1
# win_gfx_disk_size_gb = 50

centos_gfx_instance_count = 1
centos_gfx_machine_type = "custom-2-8192"
# centos_gfx_accelerator_type = "nvidia-tesla-p4-vws"
# centos_gfx_accelerator_count = 1
# centos_gfx_disk_size_gb = 50
centos_admin_ssh_pub_key_file = "~/.ssh/id_rsa.pub"
centos_admin_ssh_priv_key_file = "~/.ssh/id_rsa"

cam_url = "https://cam-staging.teradici.com"
pcoip_registration_code = "ABCDEFGHIJKL@0123-4567-89AB-CDEF"
cac_token = [
    # On-prem / us-central1
    "token from Cloud Access Manager for the connector",
    # us-west2
    "token from Cloud Access Manager for the connector",
    # us-east4
    "token from Cloud Access Manager for the connector"
]    